<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="100000" />
    <add key="EMailID" value="mailnoreply.acmp@gmail.com" />
    <add key="EMailIDUserName" value="mailnoreply.acmp@gmail.com" />
    <add key="EMailIDPassword" value="Aco007#123" />
    <add key="EMailIDHost" value="smtp.gmail.com" />
    <add key="EMailIDPort" value="587" />
    <add key="EMailIDSSL" value="True" />
  </appSettings>
  <connectionStrings>
    <!--<add name="IntranetConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_NTPC_FARAKKA_INTRANET;Integrated Security = true; Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient"/>-->
    <add name="IntranetConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db_intranet_kbunl; User ID=dba_intranet; Password=ntpc@1234; Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" />
   <add name="EMS_DataConnectionString" connectionString="Data Source=10.10.10.100\CMS;Initial Catalog=EMS_Data;User ID=sa;Password=EMS@cms.com"
   providerName="System.Data.SqlClient" />
  <add name="EMS_NetworkConnectionString" connectionString="Data Source=10.10.10.100\CMS;Initial Catalog=EMS_Network;Persist Security Info=True;User ID=sa;Password=EMS@cms.com"
   providerName="System.Data.SqlClient" />
    <add name="EMS_DCSGConnectionString" connectionString="Data Source=10.10.10.100\CMS;Initial Catalog=EMS_DCSG;Persist Security Info=True;User ID=sa;Password=EMS@cms.com"
   providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
	<customErrors mode="Off" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
      
        <security>
          <requestFiltering>
             <!-- This will handle requests up to 50MB -->
             <requestLimits maxAllowedContentLength="2147483648" />
          </requestFiltering>
       </security>
    </system.webServer>
</configuration>