*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clear{clear:both;}
body
{
    font-family: Calibri,Helvetica, sans-serif;
    font-size: 14px;
    clear: both;
    color: #231f20;
    background-color:#FFF;
    margin:0; padding:0;
}
div,p,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
.txtbox{font-size:14px; padding:5px;}
.panel{width:96%; background-color:#FFF; margin-left:2%; margin-right:2%;}
.panel .title{font-size:16px; font-weight:bold; padding:20px 0 10px 20px;}
.panel table{padding:10px 0 20px 20px;}
.panel td{padding:2px 20px 2px 0px;}
/* Page Content */
#header{width:100%; min-height:80px; background-color:#FFF;}
#header h1{padding-left:20px; padding-top:20px;}

#maincontent{width:100%; background: url(../images/banner-light-bg.jpg) repeat scroll center top transparent; min-height:520px;}
#maincontent .LHS{width:50%; display:inline-block; vertical-align:top;}
#maincontent .LHS .box
{
    box-shadow: 0 0 10px #b5b5b5;
    -moz-box-shadow: 0 0 10px #b5b5b5;
    -webkit-box-shadow: 0 0 10px #b5b5b5;
    -o-box-shadow: 0 0 10px #b5b5b5;
    margin: 10px 15px 10px 20px;
    background-color: #FFECFF;
    border-radius:5px;
    min-height:440px;
}
#maincontent .LHS .box h4{margin-left:4%; padding-top:10px; padding-bottom:10px;}
#maincontent .LHS .box .greetingbox{display:inline-block; width:40%; padding-left:2%; vertical-align:top;}
#maincontent .LHS .box .previewbox{display:inline-block; vertical-align:top; min-width:50%; max-width:55%; }
#maincontent .LHS .box .previewbox .preview{background-color:#FFF; margin-top:0px; max-height:270px; border:1px solid #CCC; overflow:hidden;}

#maincontent .RHS{width:49.7%; display:inline-block; vertical-align:top; }
#maincontent .RHS .box{border-radius:5px; min-height:440px; box-shadow:0 0 10px  #b5b5b5; -moz-box-shadow:0 0 10px #b5b5b5; -webkit-box-shadow:0 0 10px #b5b5b5; -o-box-shadow:0 0 10px #b5b5b5; margin:10px 20px 10px 15px; background-color:#FFECFF;border-radius:5px;}
#maincontent .RHS .box h4{margin-left:2%; padding-top:10px; padding-bottom:10px;}
#footer{width:100%; min-height:40px; background-color:gray;}

.overlay {
        position: fixed;
        z-index: 99;
        top: 0px;
        left: 0px;
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        filter: Alpha(Opacity=70);
        opacity: 0.70;
        -moz-opacity: 0.70;
    }
    
    .loader {
        z-index: 100;
        position: fixed;
        width: 120px;
        margin-left: -60px;
        top: 50%;
        left: 50%;
    }
    
   #txtHeader_HtmlEditorExtender_ExtenderContentEditable{background-color:#FFF;}
   #txtFooter_HtmlEditorExtender_ExtenderContentEditable{background-color:#FFF;}
   #gridRecipient{margin-left:2%;}
   #gridRecipient th{padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align:left; background-color:#888; color:#FFF; border:1px solid #CCC;}
   #gridRecipient td{padding-left:10px; padding-right:10px; border:1px solid #CCC;}
   
   #gridUsers{margin-left:2%;}
   #gridUsers th{padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align:left; background-color:#555; color:#FFF; border:1px solid #CCC;}
   #gridUsers td{padding-left:10px; padding-right:10px; border:1px solid #CCC;}
   
   .topbar
    {   
        position:relative;
        background-Color:#FFF;
        min-height:105px;
    }
.topbar .divhome
{
    float: left;
    color: #F0F0F0;
    width:100%;
}
.Header
{
    width:99.89%;
    padding-right:-2px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff;
    box-shadow: inset 0 0 1px 1px #ffffff;
    background-image: linear-gradient(top, #fafafa, #ededed);
    height: auto;
    overflow: hidden;
}